// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/tables";


// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 20px;
  margin-bottom: 30px;

}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
  background-color:black;
  color:white;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}


body {
  background: #000 url(../images/revertedback.png) repeat scroll top left;
  /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Background image doesn't tile */
    background-repeat: no-repeat;
  
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
  
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
  
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    font-family: 'Oxygen', sans-serif;
}

.main-container
{
  
  background-color:rgba(255, 255, 255, 0.93);
  padding-bottom:20px;
  border-radius: 10px;
  border-color:rgb(15,15,15);
  border-style: solid 2px;
}

#header-text
{
	font-size: 20px;
	height:100%;
	min-height: 100%;
}

.view-hardware .row,
.view-e-liquids-list .row
{
  padding:10px;

  margin:0px 0 10px 0;

}

.view-e-liquids-list
{
  margin-bottom:10px;
  padding:10px;
 
}

body h1
 {
  display: block;
  background: url(../images/tank.svg) 10px 5px no-repeat #fff;
  background-size: 50px 50px;
  padding: 10px 80px;
  color:slategray;
}
.prices
{
  border-radius:5px;
  background-color:#33303F;
  color:white;
  padding:12px;
}